@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;700&display=swap');

:root {
  --color-brand: rgb(228, 237, 245);
  --sub-color: #a9ff00;
  --text-color: #605252
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu SA Beginner', cursive;
}

/* ================= START STYLE NAVBAR COMPONENT  ================= */

.nav {
  width: 100%;
  height: 70px;
  background: #c5bbac;
  line-height: 70px;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  color: var(--color-brand);
  font-weight: 600;
  text-decoration: none;
}

.logo-letter {
  color: var(--sub-color);
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  justify-self: end;
}

.nav-item {
  position: relative;
  transition: all ease-in-out .5s;
}

.nav-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  background: var(--sub-color);
  left: 0;
  transform: translateY(-1px);
  opacity: 0;
  transition: all ease-in-out .5s
}

.nav-item:hover::after {
  opacity: 1;
  transform: translateY(-18px);
}

.nav-item:hover .nav-link {
  color: var(--sub-color)
}

.nav-item:last-child {
  margin-left: 30px;
}

.nav-link {
  font-weight: 600;
  text-decoration: none;
  font-size: 35px;
  color: #4a3e2b;
  transition: all ease-out .5s;
}

/* ================= END STYLE NAVBAR COMPONENT  ================= */

/* ================= START STYLE PRODUCT COMPONENT  ================= */
.products {
  padding: 60px 0;
}

.products-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 10px var(--color-brand);
  border-radius: 10px;
}

.product-image {
  height: 200px;
  width: 300px;
  align-self: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.product-name {
  font-size: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  color: var(--text-color);
}

.product-price {
  width: fit-content;
  border: 1px solid var(--text-color);
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.btn {
  border: none;
  background-color: var(--sub-color);
  width: 100%;
  height: 30px;
  border-radius: 5px;
  grid-column: 1/3;
  cursor: pointer;
  transition: all ease-in-out .5s;
  font-size: 18px;
  color: var(--text-color);
}

.btn:hover {
  transform: scale(.9);
}

.add-cart {
  background-color: var(--sub-color);
}

.remove-cart {
  background-color: rgb(231, 21, 21);
}

/* ================= END STYLE PRODUCT COMPONENT  ================= */